body {
  font-family: "Open Sans", system-ui;
  font-size: 1.2;
  line-height: 1.65;
  width: 450px;
  height: 100%;
}

#barra {
  width: 450px;
  height: 100px;
  background-color: black;
  text-align: center;
}
#sottobarra{
    width: 100%;
    height: 400px;
    background-image: url(./assets/img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60%;
    text-align: center;
    box-sizing: border-box;
}

#logo {
  width: 35%;
  padding-top: 20px;
}
h1{
    color: #25a2c3;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 2.4em;
    line-height: 1;
    padding: 30px;
    padding-top: 60px;
}
#intro{
    color: #393d41;
    font-size: 18px;
    
}

button{
    background-color: #f04c2f;
    color: white;
    border: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    padding: 10px 25px;
    margin-top: 37px;
    border-radius: 5px;
}
main{
    width: 450px;
    height: 100%;
    text-align: center;
}

h3{
    color: #25a2c3;
    font-weight: 700;
    margin-top: 45px;
    font-size: 1.1em;
}
.testopara{
    margin: 15px auto 55px auto;
    color: #393d41;
}

#notebook{
    border-radius: 50%;
    width: 65%;
}
    
#rosso{
    width: 100%;
    height: 300px;
    background-color: #e22d0e;
    text-align: center;
    margin-bottom: 55px;
}
h2{
    color: white;
    font-size: 2.3em;
    font-weight: 700;
    padding: 45px 50px 25px 50px;
}
#corsivo{
    font-style: italic;
    color: white;
    margin-bottom: 25px;
}
#nome{
    color: white;
    font-size: 1.2em;
}
#ceo{
    color: white;
    font-size: 0.9em;
}
#codapara{
    width: 350px;
    height: 350px;
   
    
}


.computer{
    width: 400px;
   
}
.unico{
    margin-top: 30px;
}
.bordo{
    border: 1px solid #dee1e3;
    width: 400px;
    margin-left: 25px;
    margin-top: 30px;
}
 #footer{
    width: 100%;
    height: 350px;
    background-color: #25a2c3;
    text-align: center;
    margin-top: 70px;

 }
 .contatti{
    color: #c8e7f0;
 }

 .fas{
    
 }
 hr{
    width: 200px;
    border: 1px solid  #c8e7f0;
    margin: 30px auto 30px;
 }